@inject OctopusDashboard.Services.AppState AppState
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Octopus Dashboard</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="electricity">
                <span class="bi bi-lightning-charge-fill-nav-menu" aria-hidden="true"></span> Electricity
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gas">
                <span class="bi bi-fire-nav-menu" aria-hidden="true"></span> Gas
            </NavLink>
        </div>
        <div class="nav-item px-3 mt-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="showCostsToggle"
                       checked="@AppState.ShowCosts"
                       @onchange="() => AppState.ToggleShowCosts()" />
                <label class="form-check-label text-white" for="showCostsToggle">Show costs</label>
            </div>
        </div>
    </nav>
</div>

@code {
    protected override void OnInitialized() => AppState.OnChange += StateHasChanged;
    public void Dispose() => AppState.OnChange -= StateHasChanged;
}
